<div class="w-full bg-white flex h-5/6 mt-26 bg-gray-50 rounded-lg shadow-2xl">
    <div class="w-1/2 h-5/6 flex-col ">
        <div class="w-4/5 text-center h-2/6 flex items-center justify-center text-6xl font-black mx-auto leading-tight">
            Make managing your college easier
        </div>
        <div class="w-3/5 text-center h-1/6 flex items-center justify-center mx-auto text-2xl leading-relaxed">
            With College Manager everything becomes easier in managing your college, with options for registering, editing and deleting the necessary tools.
        </div>
        <div class="w-4/6 text-center mx-auto h-1/6 flex items-center justify-center">
            <button type="button" class="w-4/6 inline-block rounded-full px-6 py-5 bg-yellow-500 text-white font-medium text-xl leading-tight shadow-md hover:bg-yellow-600 hover:shadow-lg focus:bg-yellow-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-700 active:shadow-lg transition duration-150 ease-in-out">
                @Html.ActionLink("Start Using", "Index", "Guide")
            </button>
        </div>
    </div>
    <div class="vector w-2/3 h-full">
    </div>
</div>
<div class="w-full flex items-center justify-center h-20 py-10 mt-16">
    <div class="flex justify-center items-center">
        <img class="h-20" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/CurtinUni_Logo.svg/1200px-CurtinUni_Logo.svg.png" alt="Alternate Text" />
    </div>
    <div class="flex justify-center items-center ml-12 py-2">
        <img class="h-20" src="https://logodownload.org/wp-content/uploads/2021/04/university-of-cambridge-logo.png" alt="Alternate Text" />
    </div>
    <div class="flex justify-center items-center ml-12 py-2">
        <img class="h-20" src="https://collegecore.com/wp-content/uploads/2018/03/U-of-T-Logo-Blue-Horiz.png" alt="Alternate Text" />
    </div>
    <div class="flex justify-center items-center ml-12 py-2">
        <img class="h-20" src="https://comcept.org/wp-content/uploads/2016/12/ULISBOA_HORIZONTAL_RGB.png" alt="Alternate Text" />
    </div>
    <div class="flex justify-center items-center ml-12 py-2">
        <img class="h-20" src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Logoup.jpg" alt="Alternate Text" />
    </div>
</div>

<style>
    .vector {
        background-image: url('https://img.freepik.com/vetores-gratis/reuniao-da-equipe-de-negocios-no-escritorio-ou-espaco-de-trabalho-compartilhado_74855-6913.jpg?w=1380&t=st=1664300329~exp=1664300929~hmac=6f4bcfc3cbbcae1e06b261d16bc37a969accb5f7188f1f65d0ba6fd5ee56fbf8');
        background-size: contain;
        background-repeat: no-repeat;
    }
</style>